{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>合肥李氏家族</title>
        {% compress css %}
	<link rel="stylesheet" href="{% static "lis/css/style.css" %}" type="text/css">
         {% endcompress %}
</head>
<body>
<div id="header">
		<div class="wrapper clearfix">
			<div id="logo">
				
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="/">主页</a>
				</li>
				<li>
					<a href="/family/tree/">世系表</a>
				</li>
				<li>
					<a href="/family/contact/">家族联系</a>
				</li>
				<li>
					<a href="/gallery/">家族相册</a>
				</li>
				<li>
					<a href="/contact/">联系我们</a>
				</li>
                                <li>
					 {% if not user.is_anonymous %}
	欢迎: <a href="{% url 'profile' %}">{{ user }}</a> | <a href="{% url 'logout' %}">退出</a>
        {% else %}

<a>你还未登录</a>
        {% endif %}
				</li>
			</ul>
		</div>
	</div>
{% block body %}
{% endblock %}
	<div class="body">
			<div class="wrapper clearfix">
				<div id="links">
					<div>
						<h4>社交</h4>
						<ul>
							<li>
								<a href="" target="_blank">QQ群: 339072448</a>
							</li>
							<li>
								<a href="" target="_blank">微信群：</a>
							</li>
							<li>
								<a href="" target="_blank">邮件：lishefei@gmail.com</a>
							</li>
						</ul>
					</div>
					<div>
						<h4>其他链接</h4>
						<ul>
							<li>
								<a href="http://www.lihongzhang.org.cn/main.php">李鸿章故居</a>
							</li>
							<li>
								<a href="http://zh.wikipedia.org/wiki/%E6%9D%8E%E9%B4%BB%E7%AB%A0">李鸿章维基百科</a>
							</li>
							<li>
								<a href="#">Link Title 3</a>
							</li>
						</ul>
					</div>
				</div>
			
				<p class="footnote">
					© Copyright © 2014 - 2023 All Rights Reserved. 合肥李氏家族 版权所有
				</p>
			</div>
		</div>
	</div>

</body>
</html>
