{% extends 'lis/base.html' %}
{% load staticfiles %}
{% block body %}
	<div id="contents">
		<div id="contact" class="wrapper clearfix">
			<div id="sidebar">
				<br/>
				<br/>
				<br/>
				<br/>
				<img src="{% static "lis/images/lhz/hhh.jpg" %}" alt="Img" height="500" width="400" >
				
			</div>
			<div class="main">
				<h1>联系我们</h1>
				<form action="" method="post">
                                    {% csrf_token %}
{{  form.non_field_errors }}
					<ul>
						<li>
							<label>请在这里输入你的全名</label>
                                                        {{ form.sender.errors}}
							{{ form.sender }}
						</li>
						<li>
							<label>请在这里输入你的邮箱地址</label>
                                                          {{ form.email.errors}}
							{{ form.email }}
						</li>
						<li>
							<label>请在这里输入主题</label>
 {{ form.subject.errors}}							
{{ form.subject }}
						</li>
						<li>
							<label class="msg">请在这里输入内容</label>
 {{ form.message.errors}}
							{{ form.message }}
							
							<input type="submit" value="发送" class="btn3">
						</li>
					</ul>
 
				</form>
                           
                                
			</div>
		</div>
	</div>
	<div class="photos">
					<div class="viewer">
	<p style="text-align:center">
	<img src="{% static "lis/images/lhz/ppp.jpg" %}">
    </p>
</div>
</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				
				<h3>目的</h3>
				<p>
					家族网站目的在于给全球合肥李文安后人一个相互联系交流的平台
				</p>
			</li>
			<li>
				
				<h3>性质</h3>
				<p>
					本网站属非盈利，会员所注册的联系方式不会对外泻露，或做为它用
				</p>
			</li>
			<li>
				
				<h3>作用</h3>
				<p>
					注册后，经过管理员确认可以看到家族成员联系方式
				</p>
			</li>
			<li>
				
				<h3>反馈</h3>
				<p>
					如有任何疑问或者建议，请通过以上网页发送消息给我们
				</p>
			</li>
		</ul>
		
{% endblock %}
