{% extends 'lis/base.html' %}
{% block body %}
{% load staticfiles %}
	<div id="contents">
		<div id="gallery" class="wrapper clearfix">
			<div id="sidebar">
				<ul>
					<li>
						<img src="{% static "lis/images/lhz/HongZhang-05.png" %}" alt="Img" height="213" width="213">
<p>李鸿章访德国纪念币：李鸿章（正面）</p>
					</li>
					<li>
						<img src="{% static "lis/images/lhz/HongZhang-06.png" %}" alt="Img" height="213" width="213"><p>李鸿章访德国纪念章：俾斯麦（反面）</p>
					</li>
				</ul>
				<div class="click-here">
					<h1>更多家族照片</h1>
					<a class="btn1" onclick="alert('管理员说：\n 1)如果你有QQ个人帐号的直接请求加入《李家大院》（QQ群号：339072448，报上实名），验明身份即可登录QQ《李家大院》，观看《李家大院》里的家族相册。\n 2) 如果还没有QQ个人帐号的，请申请QQ个人帐号（http://zc.qq.com/en/index.html）。并下载QQ2014软件（http://im.qq.com/index.shtml），请求加入QQ《李家大院》，观看《李家大院》里的家族相册。')">请点击这里</a>
				</div>
			</div>
			<div class="main">
				<h1>家族相册</h1>
				<div class="photos">
					<div class="viewer">
						<img src="{% static "lis/images/lhz/JiaZhu-01.png" %}" alt="Img" height="412" width="683"><p>李鸿章出使欧美两儿陪同（左一李经述，左二李经方)</p>
					</div>
<div class="viewer">
						<img src="{% static "lis/images/lhz/JiaZhu-02.png" %}" alt="Img" height="612" width="683"><p>李鸿章及其儿孙</p>					</div>
<div class="viewer">
						
<img src="{% static "lis/images/lhz/JiaZhu-03.png" %}" alt="Img" ><p>1999年9月27日，合肥，“李鸿章故居”开馆</p>
<img src="{% static "lis/images/lhz/JiaZhu-04.png" %}" alt="Img" ><p>2000年3月24日，上海，修订家谱第一次会议</p>
<img src="{% static "lis/images/lhz/JiaZhu-05.png" %}" alt="Img" ><p>2000年10月23日，上海，李家大团聚</p>
<img src="{% static "lis/images/lhz/JiaZhu-06.png" %}" alt="Img" ><p>2001年5月19日，上海，李家大团聚</p>
<img src="{% static "lis/images/lhz/JiaZhu-07.png" %}" alt="Img" ><p>2004年10月23日，合肥，李蕴章后代“李府”聚会</p>
<img src="{% static "lis/images/lhz/JiaZhu-08.png" %}" alt="Img" ><p>2007年6月8日，合肥，李昭庆后代“李府”聚会</p>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>
	
		{% endblock %}
