{% extends 'lis/base.html' %}
{% block body %}
{% load staticfiles %}
	<div id="contents">
		<div id="gallery" class="wrapper clearfix">
			<div id="sidebar">
				<ul>
					<li>
						<img src="{% static "lis/images/lhz/9.JPG" %}" alt="Img" height="154" width="213">
					</li>
					<li>
						<img src="{% static "lis/images/lhz/10.JPG" %}" alt="Img" height="154" width="213">
					</li>
				</ul>
				<div class="click-here">
					<h1>更多家族照片</h1>
					<a href="#" class="btn1">请点击这里</a>
				</div>
			</div>
			<div class="main">
				<h1>家族相册</h1>
				<div class="photos">
					<div class="viewer">
						<img src="{% static "lis/images/lhz/6.JPG" %}" alt="Img" height="348" width="703">
					</div>
					<ul>
						<li>
							<img src="{% static "lis/images/lhz/7.JPG" %}" alt="Img" height="96" width="150"><span class="cover"></span>
						</li>
						<li>
							<img src="{% static "lis/images/lhz/5.JPG" %}" alt="Img" height="96" width="150"><span class="cover"></span>
						</li>
						<li>
							<a href="gallery.html"><img src="images/thumbnail-earth.jpg" alt="Img" height="96" width="150"><span class="cover"></span></a>
						</li>
						<li>
							<a href="gallery.html"><img src="images/thumbnail-craft.jpg" alt="Img" height="96" width="150"><span class="cover"></span></a>
						</li>
					</ul>
				</div>
				
				
			</div>
		</div>
	</div>
	
		{% endblock %}
