{% extends 'lis/base.html' %}
{% block body %}
{% load staticfiles %}
	<div id="contents">
		<div id="gallery" class="wrapper clearfix">
			<div id="sidebar">
				<ul>
					<li>
						<img src="{% static "lis/images/lhz/9.JPG" %}" alt="Img" height="154" width="213">
<p>李鸿章访德国纪念币：李鸿章（正面）</p>
					</li>
					<li>
						<img src="{% static "lis/images/lhz/10.JPG" %}" alt="Img" height="154" width="213"><p>李鸿章访德国纪念章：俾斯麦（反面）</p>
					</li>
				</ul>
				<div class="click-here">
					<h1>更多家族照片</h1>
					<a href="#" class="btn1">请点击这里</a>
				</div>
			</div>
			<div class="main">
				<h1>家族相册</h1>
				<div class="photos">
					<div class="viewer">
						<img src="{% static "lis/images/lhz/6.JPG" %}" alt="Img" height="512" width="683"><p>李鸿章出使欧美两儿陪同（左一李经述，左二李经方)</p>
					</div>
<div class="viewer">
						<img src="{% static "lis/images/lhz/7.JPG" %}" alt="Img" height="683" width="512"><p>李鸿章及其儿孙</p>					</div>
<div class="viewer">
						<img src="{% static "lis/images/lhz/5.JPG" %}" alt="Img" height="512" width="683"><p>老年李鸿章在国外</p>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>
	
		{% endblock %}
