{% extends 'lis/base.html' %}
{% load staticfiles %}

{% block body %}
	
	<div id="contents">
		<div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
					
				</div>
			</div>
			<div class="highlight">
                               <h2 style="text-align:center"><i>合肥李氏宗族网站</i></h2>
                        </div>
		</div>
		<div class="body clearfix">
			<div class="click-here">
                                <br/>
                                <br/>			
				<a href="{% url 'register' %}" class="btn2">注册</a>
                                <a href="{% url 'login' %}" class="btn2">登录</a>
			</div>
			<p style="font-size:16px;">
				安徽合肥肥东县李氏家族始于肥东县李家岗李心庄。心庄无子嗣，由其好友许光照将其次子祥瑾（字慎所）过继为子，是以李心庄为始祖，慎所为一世祖，慎所长子君辅为二世祖，君辅五子汉申为三世祖，汉申次子士俊为四世祖，士俊次子椿为五世祖，椿次子殿华为六世祖，殿华四子文安为七世祖。文安有六子，瀚章、鸿章、鹤章、蕴章、凤章、昭庆。《李文安公世系》即俗称“老六房”或“李鸿章家族”。李氏先世无谱字辈。1809年首次纂修《李氏宗谱》议定字辈十六个字，即：文章经国，家道永昌，福寿承恩，勋荣世守。1872年续修家谱时，又增十六字，即：祖德积厚，克绍辉光，宗绪延长，同敦孝友。</p>
<p style="font-size:16px;">2002年李家曙在新加坡首建李氏网站，通过互联网平台加深彼此交流与来往，增强家族的凝聚力，功德无量。此次更新李氏网站，在原有李氏网站基础上，增补许多“永”“昌”“福”字辈的新成员，另外，还有几位“寿”字辈的后代。愿新网站让更多的人了解“李鸿章”，走近“李氏家族”。</p>
<p><img src="{% static 'lis/images/7.png' %}"></img></p>
			</p>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<img src="{% static "lis/images/lhz/HongZhang-01.png" %}" alt="Img" height="204" width="220">
				<h3></h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/HongZhang-02.png" %}" alt="Img" height="204" width="220">
				<h3></h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/HongZhang-03.png" %}" alt="Img" height="204" width="220">
				<h3></h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/HongZhang-04.png" %}"  alt="Img" height="204" width="220">
				<h3></h3>
				
			</li>
		</ul>
	
{% endblock %}