{% extends 'lis/base.html' %}
{% load staticfiles %}

{% block body %}
	
	<div id="contents">
		<div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
					
				</div>
			</div>
			<div class="highlight">
                               <h2 style="text-align:center"><i>合肥李氏宗族网站</i></h2>
                        </div>
		</div>
		<div class="body clearfix">
			<div class="click-here">
                                <br/>
                                <br/>			
				<a href="{% url 'register' %}" class="btn2">注册</a>
                                <a href="{% url 'login' %}" class="btn2">登录</a>
			</div>
			<p style="font-size:12px;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula. Praesent aliquam semper massa et scelerisque. Suspendisse dapibus interdum diam, non varius nisl laoreet at. Pellentesque imperdiet molestie sollicitudin. Sed nec magna nibh, sed interdum nisi. Mauris vel pretium nibh. Morbi congue velit quis eros imperdiet ac el eifend elit condimentum. Nulla vestibulum dictum tellus quis iaculis. Duis a diam vitae sem tristique vestibulum. Praesent dapibus, tortor nec hendrerit pulvinar, lectus tortor viverra ante,
			</p>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<img src="{% static "lis/images/lhz/1.JPG" %}" alt="Img" height="204" width="220">
				<h3>中年李鸿章</h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/2.JPG" %}" alt="Img" height="204" width="220">
				<h3>老年李鸿章</h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/3.JPG" %}" alt="Img" height="204" width="220">
				<h3>老年李鸿章</h3>
				
			</li>
			<li>
				<img src="{% static "lis/images/lhz/4.JPG" %}"  alt="Img" height="204" width="220">
				<h3>李鸿章铜像</h3>
				
			</li>
		</ul>
	
{% endblock %}