{% extends 'lis/base.html' %}

{% block body %}
	<div id="contents">
		<div class="wrapper clearfix">
	
			<div class="main">
				<h1>家族同支系联系录</h1>
				
                                      {% for member in object_list %}
                                        <p> {{ member.name }} : &nbsp&nbsp{{ member.phone }}&nbsp&nbsp|&nbsp&nbsp{{ member.email }}&nbsp&nbsp|&nbsp&nbsp{{ member.address }} </p>

				{% empty %}
                                        <p>你还没有被管理员确认身份，所以暂时无法看到联系录，请联系管理员。</p>
                            {% endfor %}
				
			</div>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			用户只能看到同支系的联系方式，如果想知道其他支系的联系方式，请联系管理员。谢谢合作。
		</ul>
		{% endblock %}