{% load staticfiles %}
{% load dajaxice_templatetags %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />	
 	<meta name="robots" content="index, follow" />
        
	<link rel="stylesheet" type="text/css" href="{% static "family/css/screen1.css" %}"  media="screen" />	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> 
     
       
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
  $(function() {
    $( "#resizable" ).resizable();
  });
  </script>
<link rel="stylesheet" href="{% static "dist/themes/default/style.css" %}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "dist/jstree.min.js" %}"></script>
<script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>

<script>
$(function () { $('#jstree_div').on("select_node.jstree", function (e, data) {
           var id = data.instance.get_node(data.node, true).children('a').attr('id');           
           Dajaxice.family.get_member(Dajax.process, {'pk':id});
          
    }).jstree({
"plugins" : [ "themes", "ui","search" ]
}); 
var to = false;
  $('#jstree_div_q').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#jstree_div_q').val();
      $('#jstree_div').jstree(true).search(v);
    }, 250);
  });
});
</script>

{% dajaxice_js_import %}

</head>

<body>
<div id="header">
<div class="wrap">
<h1>李氏宗族世系表</h>
</div>
</div>

<div id="nav">
<div id="link">
<p><a href="{% url "index" %}">返回主页</a></p>
<p>
{% if not user.is_anonymous %}
	<p id="layoutdims">欢迎： <a href="{% url 'profile' %}">{{ user }}</a> | <a href="{% url 'logout' %}">退出</a></p>
        {% else %}

<a href="{% url 'register' %}">注册</a> | <a href="{% url 'login' %}">登录</a></p>
        {% endif %}
</p>
</div>
</div>

<div id="sidebar">
<p><label style="float:left; margin-left:15px;">查找：</label>
  
<input type="text" id="jstree_div_q" value="" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;"/>
   
</p>

<div id="jstree_div">


{% for item, info in tree %}
    {% if info.open %}
        <ul><li class="jstree-open" data-jstree='{"icon":"{% static "dist/themes/default/person.png" %}"}'>
    {% else %}
        </li><li class="jstree-open" data-jstree='{"icon":"{% static "dist/themes/default/person.png" %}"}'>
    {% endif %}

    <a href="{% url 'member-detail' item.pk %}" id="{{ item.pk }}">{{ item }}</a>

    {% for close in info.close %}
        </li></ul>
    {% endfor %}
{% endfor %}
</div> 
</div>

<div id="main">
<img id="image" src="{{ member_img }}"></P> 
<table>
<tr><td><label><b>姓名</b>：</label></td><td><p id="name">{{ member.name }}</p></td></tr>
<tr><td><label><b>性别</b>： </label></td><td><p id="sex">{{ member.sex }}</p></td></tr>
<tr><td><label><b>介绍</b>： </label></td><td><p id="desc">{{ member.desc }}</p></td></tr>
<tr><td><label><b>分支(房)</b>：</label></td><td><p id="branch">{{ member.branch }}</p>
</table>
</div>



</body>
</html>
