{% load staticfiles %}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{% static "dist/themes/default/style.css" %}"/>
<script src="{% static "dist/libs/jquery.js" %}"></script>
<script src="{% static "dist/jstree.min.js" %}"></script>
<script>
$(function () { $('#jstree_demo_div').jstree(); });

$('#jstree_demo_div').on("changed.jstree", function (e, data) {
  console.log(data.selected);
});

$('button').on('click', function () {
  $('#jstree').jstree(true).select_node('child_node_1');  
});
</script>
</head>
<body>
<div id="jstree_demo_div">
{{ tree }}

{% for item, info in tree %}
    {% if info.open %}
        <ul><li data-jstree='{"icon":"{% static "dist/themes/default/Person.png" %}"}'>
    {% else %}
        </li><li data-jstree='{"icon":"{% static "dist/themes/default/Person.png" %}"}'>
    {% endif %}

    <a href="{% url 'member-detail' item.pk %}">{{ item }}</a>

    {% for close in info.close %}
        </li></ul>
    {% endfor %}
{% endfor %}
</div>
</body>
</html>
